.header {
  background: #8C2DD0ff;
  /* background-image: url('https://cdn.pixabay.com/photo/2016/08/14/12/41/water-lily-1592793_1280.png'); */
  /* background-image: url("https://cdn.pixabay.com/photo/2015/08/29/23/45/mosaic-913658_1280.jpg"); */
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}
