.projectPhoto{
    height: 400px; 
    /* width: 400px; */
}

#errors{
    display: none; 
}


/* CSS HEX */
/* --sap-green: #597D37ff;
--purple-x-11: #994DF3ff;
--medium-orchid: #BA62FEff;
--black: #000001ff;
--blue-violet: #8C2DD0ff; */